* {
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #EFF1F0;
}

.Header {
    background-color: #FF0000;
    border: #000000 solid;
    border-width: 0px 0px 1px 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    height: 80px;
}

.Body {
    gap: 35px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.SearchContainer {
    /* border: 1px #000000 solid; */
    width: fit-content;
    top: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Searchbar {
    /* border: 1px #000000 solid; */
    height: 40px;
    width: fit-content;
    display: flex;
}

.SearchbarInput {
    font-size: 20px;
    background: #FFFFFF;
    border: 2px #355C9D solid;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    height: 100%;
    width: 350px;
    padding: 0px 8px;
}

.SearchbarInput:focus {
    outline: 2px #355C9D solid;
}

.SearchbarButton {
    font-size: 20px;
    background: #FFFFFF;
    border: #666666 solid;
    border-width: 2px 2px 2px 0px;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: fit-content;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SearchOptions {
    /* border: 1px #000000 solid; */
    height: 30px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Filter {
    font-size: 16px;
}

.SortBy {
    font-size: 16px;
}

.Main {
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.PokemonListItemPosition {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PokemonList {
    border: 1px #000000 solid;
    height: fit-content;
    width: fit-content;
}

.PokemonSort {
    height: 30px;
    display: flex;
}

.Pokemon {
    height: 100px;
    display: flex;
}

.PokemonImage {
    border: 1px #000000 solid;
    height: 100%;
    width: 100px;
    justify-content: center;
}

.PokemonNumber {
    border: 1px #000000 solid;
    height: 100%;
    width: 80px;
}

.PokemonName {
    border: 1px #000000 solid;
    height: 100%;
    width: 120px;
}

.PokemonType {
    border: 1px #000000 solid;
    height: 100%;
    width: 100px;
}

.PokemonHP {
    border: 1px #000000 solid;
    height: 100%;
    width: 60px;
}

.PokemonAttack {
    border: 1px #000000 solid;
    height: 100%;
    width: 70px;
}

.PokemonDefence {
    border: 1px #000000 solid;
    height: 100%;
    width: 100px;
}

.PokemonSpAtk {
    border: 1px #000000 solid;
    height: 100%;
    width: 90px;
}

.PokemonSpDef {
    border: 1px #000000 solid;
    height: 100%;
    width: 90px;
}

.PokemonSpeed {
    border: 1px #000000 solid;
    height: 100%;
    width: 90px;
}

.SidePanelLeft {
    border: 1px #000000 solid;
    height: 650px;
    width: 200px;
}

.SidePanelRight {
    border: 1px #000000 solid;
    height: 650px;
    width: 200px;
}

.Footer {
    background-color: #EF5350;
    border: #000000 solid;
    border-width: 1px 0px 0px 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    height: 80px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}